<div class="home">
    <div class="home-container">
        <div class="home-inner">
            <div class="home-card">
                <h4 class="home-heading" id="regionHeading">Please select a region</h4>
                <div class="home-content" id="regionDropdown">
                    <app-dropdown [options]=regionList (selected)='onSelectedRegion($event)'></app-dropdown>
                </div>
                <ng-container *ngIf="selectedRegion && countryList">
                    <h4 class="home-heading" id="countryHeading">Please select a country</h4>
                    <div class="home-content" id="countryDropdown">
                        <app-dropdown [options]=countryList (selected)='onSelectedCountry($event)'></app-dropdown>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="home-container" *ngIf="selectedRegion && selectedCountry">
        <div class="home-inner">
            <div class="home-card">
                <app-table [countries]=countries [selected]=selectedCountry></app-table>
            </div>
        </div>
    </div>
</div>

